/* f8b600 */

/* bg gray: ecf0f1    changed*/

::-webkit-scrollbar {
  display: none;
}
/* ::placeholder {
  color: #b0b0b0;
  opacity: 1; 
}

::-ms-input-placeholder {

  color: #b0b0b0;
} */

body {
  background-color: #e5e7eb !important;
}
.section-bg-white {
  background-color: #ffffff !important;
}
.section-bg-gray {
  background-color: #e5e7eb !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-gray {
  background-color: #e5e7eb !important;
}
#mobile-nav-toggle {
  padding-right: 15px;
}
.header2 {
  background-color: rgba(34, 34, 34) !important;
  transition: all 0.5s !important;
}
.nheader-height {
  height: 109.75px !important;
}
.account-info-area i {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.account-info-area .col-auto,
.account-info-area .col-1 {
  padding-left: 0 !important;
}
.checked {
  color: orange;
}
.text-pm {
  color: #f8b600;
}
.text-w {
  color: #fff;
}
.bg-pm {
  background-color: #f8b600;
}

.text-justify {
  text-align: justify;
}

.c-area h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.c-area h4 {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.c-area p {
  text-align: justify;
}
.c-area ul {
  /* list-style-type: disc; */
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
}
.img-gallery img {
  object-fit: cover;
}

.padding {
  /* padding: 150px 0 50px 0; */
  padding-top: 150px;
  padding-bottom: 50px;
}
.vh-100 {
  height: 100vh;
}
.login-bg {
  background-image: url(img/hero-bg.jpg);
}

.sing-area label {
  color: #333333 !important;
}
.bb {
  border-bottom: 2px solid #f8b600;
}
.section-padding {
  padding: 80px;
}

#chkbox {
  accent-color: #f8b600;
}
.cyberpunk-checkbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #f8b600;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #f8b600;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 7px;
  height: 7px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  /* display: flex; */
  align-items: center;
}
.login .clink a {
  text-decoration: none;
  color: #f8b600;
}
.login label,
.account-info-area label {
  font-weight: 500 !important;
}
.login .clink a:hover {
  text-decoration: underline;
}
.fs-16 {
  font-size: 16px !important;
}
#header2 {
  transition: all 0.5s;
  background-color: rgba(34, 34, 34);
}

.list-group-item.active {
  background-color: #f8b600 !important;
  border-color: #f8b600 !important;
}
.list-group-item {
  border-radius: 0 !important;
}

/* .nav-link[data-toggle].collapsed:after {
  content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
  content: " ▴";
} */

/* footer to top button */
.to-top {
  /* display: none; */
  /* position: fixed; */
  bottom: 50px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  background-color: #f8b600;
  color: white;
}
.to-top:hover,
.to-top:focus {
  border: none;
  outline: none;
}
.border-danger {
  outline: none !important;
  border: 1px solid #dc3545 !important;
}
.error-info {
  height: 10px;
}

.eye-right {
  display: flex;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
