/* f8b600 */

/* bg gray: ecf0f1    changed*/

body::-webkit-scrollbar {
  /* display: none; */
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #ffd23e; /* Replace with your desired color (gray-300) */
}
/* ::placeholder {
  color: #b0b0b0;
  opacity: 1; 
}

::-ms-input-placeholder {

  color: #b0b0b0;
} */

body {
  background-color: #e5e7eb !important;
}
.section-bg-white {
  background-color: #ffffff !important;
}
.section-bg-gray {
  background-color: #e5e7eb !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-gray {
  background-color: #e5e7eb !important;
}
#mobile-nav-toggle {
  padding-right: 15px;
}
.header2 {
  background-color: rgba(34, 34, 34) !important;
  transition: all 0.5s !important;
}
.nheader-height {
  height: 109.75px !important;
}
.account-info-area i {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.account-info-area .col-auto,
.account-info-area .col-1 {
  padding-left: 0 !important;
}
.checked {
  color: orange;
}
.text-pm {
  color: #f8b600;
}
.text-w {
  color: #fff;
}
.bg-pm {
  background-color: #f8b600;
}

.text-justify {
  text-align: justify;
}

.c-area h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.c-area h4 {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.c-area p {
  text-align: justify;
}
.c-area ul {
  /* list-style-type: disc; */
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
}
.img-gallery img {
  object-fit: cover;
}

.padding {
  /* padding: 150px 0 50px 0; */
  padding-top: 150px;
  padding-bottom: 50px;
}
.vh-100 {
  min-height: 100vh;
}
.vh-75 {
  min-height: 75vh;
}
.login-bg {
  background-image: url(img/hero-bg.jpg);
}

.sing-area label {
  color: #333333 !important;
}
.bb {
  border-bottom: 2px solid #f8b600;
}
.section-padding {
  padding: 80px;
}

#chkbox {
  accent-color: #f8b600;
}
.cyberpunk-checkbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #f8b600;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #f8b600;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 7px;
  height: 7px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  /* display: flex; */
  align-items: center;
}
.login .clink a {
  text-decoration: none;
  color: #f8b600;
}
.login label,
.account-info-area label {
  font-weight: 500 !important;
}
.login .clink a:hover {
  text-decoration: underline;
}
.fs-16 {
  font-size: 16px !important;
}
#header2 {
  transition: all 0.5s;
  background-color: rgba(34, 34, 34);
}

.list-group-item.active {
  background-color: #f8b600 !important;
  border-color: #f8b600 !important;
}
.list-group-item {
  border-radius: 0 !important;
}

/* .nav-link[data-toggle].collapsed:after {
  content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
  content: " ▴";
} */

/* footer to top button */
.to-top {
  /* display: none; */
  /* position: fixed; */
  bottom: 50px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  background-color: #f8b600;
  color: white;
}
.to-top:hover,
.to-top:focus {
  border: none;
  outline: none;
}
.border-danger {
  outline: none !important;
  border: 1px solid #dc3545 !important;
}
.error-info {
  height: 10px;
}

.eye-right {
  display: flex;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.sticky-top {
  position: sticky;
  top: 0.5rem;
}
.select2.select2-container {
  width: 100% !important;
}

.select2.select2-container .select2-selection {
  border: 1px solid #dee2e6;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 40px;
  /* margin-bottom: 15px; */
  outline: none !important;
  transition: all 0.15s ease-in-out;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  color: #333;
  line-height: 40px;
  padding-right: 33px;
  padding-left: 20px;
  font-weight: 400;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
  background: #f8f8f8;
  border-left: 1px solid #dee2e6;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  height: 38px;
  width: 38px;
}

.select2.select2-container.select2-container--open
  .select2-selection.select2-selection--single {
  background: #f8f8f8;
}

.select2.select2-container.select2-container--open
  .select2-selection.select2-selection--single
  .select2-selection__arrow {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.select2.select2-container.select2-container--open
  .select2-selection.select2-selection--multiple {
  border: 1px solid #dee2e6;
}

.select2.select2-container .select2-selection--multiple {
  height: auto;
  min-height: 40px;
}

.select2.select2-container
  .select2-selection--multiple
  .select2-search--inline
  .select2-search__field {
  margin-top: 0;
  height: 40px;
}

.select2.select2-container
  .select2-selection--multiple
  .select2-selection__rendered {
  display: block;
  padding: 0 4px;
  line-height: 29px;
}

.select2.select2-container
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #f8f8f8;
  border: 1px solid #888;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 4px 4px 0 0;
  padding: 0 6px 0 22px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  position: relative;
}

.select2.select2-container
  .select2-selection--multiple
  .select2-selection__choice
  .select2-selection__choice__remove {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  margin: 0;
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  font-size: 16px;
}

.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: -5px;
}

.select2-container .select2-dropdown .select2-search {
  padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none !important;
  border: 1px solid #888 !important;
  border-bottom: none !important;
  padding: 4px 6px !important;
}

.select2-container .select2-dropdown .select2-results {
  padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #888;
}

.select2-container
  .select2-dropdown
  .select2-results
  ul
  .select2-results__option--highlighted[aria-selected] {
  background-color: #f8b600;
}

.ui-datepicker-month {
  width: 100% !important;
  border: 1px solid #888 !important;
}
.ui-datepicker-year {
  width: 100% !important;
  border: 1px solid #888 !important;
}
.req::after {
  content: "*";
  color: red;
}

/* Soft shadow */
.shadow-soft {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

/* Medium shadow */
.shadow-medium {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.12);
}

/* Strong shadow */
.shadow-strong {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.18);
}

input[type="file"]::file-selector-button {
  margin-right: 10px;
  height: 41px;
  border: none;
  background: #f8b600;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  line-height: 40px;
}
.file .single-input-primary,
.file .single-input {
  padding: 0;
}

input[type="file"]::file-selector-button:hover {
  background: #dda201;
}
.pagination .page-item {
  border-radius: 0 !important;
  border: none;
  background-color: #f8b600;
  color: white;
}
.pagination .page-item span {
  border-radius: 0 !important;
  color: white;
  border-right: 1px solid white;
}
.pagination .page-item span:hover {
  background-color: white;
  border: 1px solid #f8b600;
  color: #f8b600;
  transition: 0.4s;
}
.pagination .page-item span :nth-child(:last-child) {
  border-left: 1px solid white;
}

/*
/
/
/
/
/*/
.gap-0 {
  gap: 0 !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.gap-4 {
  gap: 1.5rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

.row-gap-0 {
  row-gap: 0 !important;
}

.row-gap-1 {
  row-gap: 0.25rem !important;
}

.row-gap-2 {
  row-gap: 0.5rem !important;
}

.row-gap-3 {
  row-gap: 1rem !important;
}

.row-gap-4 {
  row-gap: 1.5rem !important;
}

.row-gap-5 {
  row-gap: 3rem !important;
}

.column-gap-0 {
  -moz-column-gap: 0 !important;
  column-gap: 0 !important;
}

.column-gap-1 {
  -moz-column-gap: 0.25rem !important;
  column-gap: 0.25rem !important;
}

.column-gap-2 {
  -moz-column-gap: 0.5rem !important;
  column-gap: 0.5rem !important;
}

.column-gap-3 {
  -moz-column-gap: 1rem !important;
  column-gap: 1rem !important;
}

.column-gap-4 {
  -moz-column-gap: 1.5rem !important;
  column-gap: 1.5rem !important;
}

.column-gap-5 {
  -moz-column-gap: 3rem !important;
  column-gap: 3rem !important;
}
